/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
}

.course-header {
	-fx-background-color: #095794;
}

.button {
	-fx-background-color: transparent;
	-fx-transition: background-color 0.3s ease-in-out;
}

.button:hover {
	-fx-background-color: white;
	-fx-icon-color: #095794;
	-fx-cursor: hand;
}

.button:hover .font-icon,
.button:active .font-icon {
	-fx-icon-color: #095794;
}

.button.active,
.button.active .font-icon {
	-fx-background-color: white;
	-fx-icon-color: #095794;
}

.font-icon {
	-fx-icon-color: white;
}
