/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    
}

.button:hover {
    -fx-background-color: #074072;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.button {
    -fx-background-color: white;
    -fx-background-radius: 6px;
    -fx-text-fill: #074072;
    -fx-border-color: #074072;
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
}
