/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
}

.button {
	-fx-background-color: #095793;
	-fx-background-radius: 6px;
	-fx-text-fill: white;
}

.button:hover {
	-fx-background-color: #04365e;
	-fx-text-fill: white;
	-fx-cursor: hand;
}
