/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
}

.upper-radius {
	-fx-background-radius: 6px 6px 0 0;
	-fx-background-color: #095794;
}

.lower-radius {
	-fx-background-radius: 0 0 6px 6px;
	-fx-background-color: #ebeced;
}

.radius {
	-fx-background-radius: 6px;
}

.grades {
	-fx-text-fill: black;
}
